<nav
  class="navbar-weather-app"
  uk-navbar
  role="navigation"
  aria-label="main navigation"
>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo">
      <img class="brand-image" src="/assets/images/logo_white_cropped.png" />
    </a>
    <button
      class="uk-button uk-button-link navbar-burger"
      id="burgerButton"
      role="button"
    >
      <i class="fa fa-list"></i>
    </button>
  </div>
  <div class="collapse navbar-collapse">
    <ng-content></ng-content>
  </div>
</nav>
