<nav class="navbar navbar-weather-app navbar-expand-md no-hide justify-content-between" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <button class='btn btn-brand'>
      <img class='brand-image' src='/assets/images/logo_white_cropped.png'>
    </button>
  </div>
  <div class='nav navbar-nav pr-2 pt-3'>
    <button class="btn btn-link navbar-burger" 
      id='burgerButton' 
      role="button">
      <i class='fa fa-list'></i>
    </button> 
  </div>
  <div class='collapse navbar-collapse' >
    <ng-content></ng-content>
  </div>
</nav>
